<div class="max-w-7xl mx-auto my-10">
  <h1 class="mb-4 font-extrabold leading-none text-[#ff3366] text-5xl">
    Health Tracker App
  </h1>
  <p class="text-xl font-normal text-gray-500">
    Track your health, achieve your goals, and live better.
  </p>

  <div class="grid grid-cols-6 gap-5 my-5">
    <!-- add workout form -->
    <div class="col-span-2">
      <app-workout-form />
    </div>

    <!-- display workout data list -->
    <div class="col-span-4">
      <app-workout-list />
    </div>
  </div>
</div>
